{
  "name": "@NAME@",
  "version": "@VERSION@",
  "author": "@AUTHOR@",
  "description": "@DESCRIPTION@",
  "kind": "fuse",
  "fusion": {
    "entrypoint": "@NAME@.fuse:FUSE",
    "class_name": "@CLASS_NAME@",
    "display_name": "@NAME_LABEL@",
    "category": "Fuses\\ResolveScript",
    "icon_string": "@ICON@",
    "description": "@DESCRIPTION@",
    "tool_type": "CT_Tool"
  }
}
