{
  "name": "@NAME@",
  "version": "@VERSION@",
  "author": "@AUTHOR@",
  "description": "@DESCRIPTION@",
  "python": "@NAME@",
  "kind": "workflow",
  "workflow": {
    "id": "@ID@",
    "name": "@NAME_LABEL@",
    "version": "@VERSION@",
    "description": "@DESCRIPTION@",
    "entrypoint": "@NAME@.workflow:INTEGRATION"
  }
}
