{
  "name": "@NAME@",
  "version": "@VERSION@",
  "author": "@AUTHOR@",
  "description": "@DESCRIPTION@",
  "python": "",
  "targets": [
    "Comp"
  ],
  "consolidate": {
    "enabled": false
  },
  "install": {
    "as_directory": true,
    "include": ["@NAME@/**", "manifest.json"],
    "exclude": ["**/__pycache__/**"]
  }
}